@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; list-style:none;  font-family:"微软雅黑"; text-decoration:none;}
img{display:block;}
body{max-width:640px; margin:0 auto;}
 .btn{ text-align:center;}
 .btn a{color:#fff; padding:10px 25px; background:#ff7e00; border-radius:8px; font-size:20px; text-align:center; margin:auto;}
 .btnsmall{color:#fff; padding:2px 10px; background:#ff7e00; border-radius:7px; font-size:14px; text-align:center;}
 .clear{clear:both;}
 
.part01{background:url(../images/whnbg1_01.jpg) no-repeat; padding:50px 0 60px 0;}
.part01 img{text-align:center; margin:auto; }
.part01 h1{font-weight:bold; text-align:center; color:#FFFFFF;font-size:30px; margin-top:20px;}
.part01 p{text-align:center; color:#fff; font-size:22px; margin-top:20px;}
.part01 .btn{margin-top:100px;}
.part01 .time{font-size:14px; background:rgba(0,0,0,0.2); padding:5px 0; text-align:center; }

.part02{background:url(../images/whnbg1_02.jpg) no-repeat; padding:30px 0 40px 0; background-size:100%;}
.part02 img{text-align:center; margin:auto; }
.part02 h1{ text-align:center; color:#ff7e00; font-size:26px; margin-top:20px; font-weight:normal;}
.part02 .btn{margin-top:50px;}
.part02 .time{font-size:14px; padding:5px 0;text-align:center; margin-top:20px; }

.part03{padding:30px 0 40px 0;}
.part03 img{text-align:center; margin:auto; }
.part03 h1{ text-align:center; color:#ff7e00; font-size:26px; margin-top:10px; font-weight:normal;}
.part03 p.smalltitle{ text-align:center; font-size:18px; margin:10px 0 25px 0;}
.part03 .time{font-size:14px; padding:5px 0;text-align:center; margin-top:20px; }
.part03 .content{ padding:0 7px;}
.part03 .content h3{ color:#ff7e00; font-size:16px;}
.part03 .content h5{ margin:5px 0;}
.part03 .content p{ color:#666; font-size:12px; margin-bottom:10px;}
.part03 .schoolimg{float:left; width:45%;}
.part03 .right{float:right; width:53%; margin-left:5px;}

.part04{padding:30px 0 40px 0; background:#f6f6f6;}
.part04 img{text-align:center; margin:auto; }
.part04 h1{ text-align:center; color:#ff7e00; font-size:26px; margin-top:20px; font-weight:normal;}
.part04 p.smalltitle{ text-align:center; font-size:18px; margin:10px 0 25px 0;}
.part04 ul li.li1{ background:url(../images/ysbg1.png) no-repeat; width:120px; height:178px; padding-top:20px; margin-left:5px; float:left;}
.part04 ul li.li2{ background:url(../images/ysbg2.png) no-repeat; width:120px; height:178px; padding-top:20px; margin-left:5px; float:left;}
.part04 ul li.li3{ background:url(../images/ysbg3.png) no-repeat; width:120px; height:178px; padding-top:20px; margin-left:5px; float:left;}
.part04 ul li.li4{ background:url(../images/ysbg4.png) no-repeat; width:120px; height:178px; padding-top:20px; margin-left:5px; float:left;}
.part04 ul li.li5{ background:url(../images/ysbg5.png) no-repeat; width:120px; height:178px; padding-top:20px; margin-left:5px; float:left;}
.part04 ul li.li1 h3{background:#FFFFFF; color:#ff7e00; text-align:center; padding:2px 0; font-weight:normal;}	
.part04 ul li.li1 p{color:#fff; font-size:14px; text-align:center; margin:10px 0;}
.part04 .time{font-size:14px; padding:5px 0;text-align:center; margin-top:20px; }
.part04 .btn{margin-top:40px; }

.part05{padding:30px 0 40px 0;}
.part05 img{text-align:center; margin:auto; }
.part05 h1{ text-align:center; color:#ff7e00; font-size:26px; margin-top:20px; font-weight:normal;}
.part05 p.smalltitle{ text-align:center; font-size:18px; margin:10px 0 25px 0;}
.part05 .content2{width:100%; padding:0 5px;}
.part05 .img{ float:left; width:40%;}
.part05 .conright{float:left; width:55%; margin-left:10px;}
.part05 .conright h3{ color:#ff7e00; margin-bottom:10px;}
.part05 .conright p{ background:url(../images/dui.png) no-repeat; padding-left:30px; line-height:22px; margin-bottom:10px}
.part05 .btn a{color:#fff; padding:10px 25px; background:#ff7e00; border-radius:8px; font-size:16px; text-align:center; margin:auto;}

.part06{padding:30px 0 40px 0;}
.part06 img{text-align:center; margin:auto; }
.part06 h1{ text-align:center; color:#ff7e00; font-size:26px; margin-top:20px; font-weight:normal;}
.part06 p.smalltitle{ text-align:center; font-size:18px; margin:10px 0 25px 0;}
.part06 h3{background:url(../images/icon1hn.png) no-repeat; line-height:30px; padding-left:30px; color:#ff7e00;  margin-left:38%; margin-bottom:20px;}
.part06 h3.no2{background:url(../images/icon2hn.png) no-repeat;} 
.part06 h3.no3{background:url(../images/icon3hn.png) no-repeat;} 
.part06 .content6 .left6{float:left; width:44%; text-align:center; padding:0 10px; color:#ff7e00; }
.part06 .content6 .right6{float:left; width:44%; text-align:center; padding:0 10px; text-decoration:line-through; color:#444}


.part07{padding:30px 0 40px 0; background:url(../images/whnbg7.jpg) no-repeat;}
.part07 img{text-align:center; margin:auto; }
.part07 h1{ text-align:center; color:#ff7e00; font-size:26px; margin:10px 0; font-weight:normal;}
.part07 p{font-size:16px; color:#fff; text-align:center; padding:0 20px; line-height:30px; margin-bottom:40px;}
.part07 .time{font-size:14px; background:rgba(0,0,0,0.4); padding:5px 0; text-align:center; margin-bottom:0; }


.part08{padding:30px 0 40px 0; background:url(../images/whnbg8.jpg) no-repeat;}
.part08 h1{ text-align:left; color:#ff7e00; font-size:26px; margin:10px 0; font-weight:normal; padding-left:20px;}
.part08 p.smalltitle{ text-align:left; font-size:20px; padding-left:20px; margin-bottom:20px;}
.part08 p{font-size:18px; color:#fff; text-align:left; padding:0 20px; line-height:30px; margin-bottom:40px;}
.part08 .time{font-size:14px; background:rgba(0,0,0,0.4); padding:5px 0; text-align:center; }
.part08 p.btn{ text-align:center;}

.part09{padding:20px 0 0px 0;}
.part09 h1{ text-align:center; color:#ff7e00; font-size:26px; margin:10px 0; font-weight:normal;}
.part09 p{font-size:16px; color:#fff; text-align:center; padding:0 20px; line-height:30px; margin-bottom:40px;}
.part09 .time{font-size:14px; background:rgba(0,0,0,0.4); padding:5px 0; text-align:center; margin-bottom:0; }

/*倒计时*/
#part10,#bor-bottom {
	position: relative;
	height:120px;
}
.time2{ position: absolute; top:12%; left:19%; width:61%;}
.countdown{ position: absolute; top:2.12rem; left:13%; width:76.5%;font-family:"Impact"; color:#fff; font-weight:600; font-size:0.52rem; }
.countdown .day{position:absolute; top:14%; left:3.5%;}
.countdown .hour{ position:absolute; top:14%; left:29%;}
.countdown .minute{ position:absolute; top:14%; left:53.5%;}
.countdown .second{ position:absolute; top:14%; left:79%;}
#bor-bottom{ border-bottom:#c3c3c3 1px dashed; top:3.6rem;}
#form1{ margin:0.5rem 0 0 0.9rem; padding-bottom:0.46rem; }
.user_infor{ border:#8b9dae 1px solid; overflow:hidden; width:4.5rem; line-height:0.7rem;}
.user_infor b{ width:0.28rem;text-align:center; float:left; margin:0.15rem 0 0 0.1rem;}
.user_infor input[type="text"]{ background:transparent; margin-left:0.1rem; border:none; line-height:0.7rem; width:2.9rem; float:left; outline:none; font-size:0.24rem;}
.attend-btn{ width:2.74rem;margin:1rem 0 0 0.86rem; display:block; }
#day,#hour,#mini,#sec{ font-size:30px;}

/*留言框*/
.username{height:45px; width:70%; border:2px solid #ff7e00; margin-left:10%; text-align:left; background:url(../images/username.png) no-repeat 0px 	5px; padding-left:40px; margin-bottom:20px; }
input.form-control{height:45px; border:none; width:250px;font-size:20px;}
.userphone{height:45px; width:70%; border:2px solid #ff7e00; margin-left:10%; text-align:left; background:url(../images/userphone.png) no-repeat 0px 	5px; padding-left:40px; margin-bottom:20px;}
.userbtn{ height:45px; text-align:center; background:#ff7e00; line-height:45px;  width:80%; margin-left:10%; border-radius:5px; margin-bottom:40px;}
input.anniu{height:45px; border:none; background:none; color:#FFFFFF; font-size:24px;}

/*弹窗*/
.tc-bg{
	width:100%;
	height:100%;
	background: #000;
	position:fixed;
	left:0;
	top:0;
	opacity:0.7;
	display:none;
}
.tc-form{
	width:320px;
	height:280px;
	background:url("../images/lybg.png")no-repeat center center;
	background-size:100% 100%;
	position:fixed;
	left:50%;
	top:50%;
	z-index:999;
	display:none;
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.tc-tit{
	width:100%;
	height:55px;
	color:#fff;
	text-align:center;
	line-height:55px;
	font-size:22px;
}
.tc-div{
	width:80%;
	margin:0 auto;
}
#tel2{
	margin:20px auto 20px;
	width:100%;
	padding-left:3%;
	height:45px;
	border:1px solid #7d7d7d;
	color:#7d7d7d;
	font-size:18px;
	border-radius:5px;
}
#but2{
	width:100%;
	height:45px;
	text-align:center;
	line-height:45px;
	font-size:18px;
	color:#fff;
	background:#5e49fe;
	border-radius:5px;
	border:none;
}
.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: 0px;
    cursor: pointer;
}
/*弹窗*/


